@font-face {
    font-family: "SAO UI";
    src: url("SAOUI.eot"); /* IE9 */
    src: url("SAOUI.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SAOUI.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("SAOUI.woff") format("woff"), /* chrome, firefox */
    url("SAOUI.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SAOUI.svg#SAO UI") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


