@font-face {
    font-family: "筑紫A丸ゴシック by 宁静之雨";
    src: url("ZhuZiAWan.eot"); /* IE9 */
    src: url("ZhuZiAWan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ZhuZiAWan.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("ZhuZiAWan.woff") format("woff"), /* chrome, firefox */
    url("ZhuZiAWan.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("ZhuZiAWan.svg#筑紫A丸ゴシック by 宁静之雨") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


